@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(246, 246, 246);
    /* background-color: red; */
    @apply text-gray-800
}

/* Tablas */
table {
	@apply w-full text-sm text-left mt-6;
}

thead {
	@apply uppercase bg-sky-600 text-white;
}

th,
td {
	@apply px-2 py-3;
}

tr:nth-child(even) {
	@apply bg-gray-200;
}

/* MOBILE STYLES - DASHBOARD */
.bg-sidebar {
	background-color: rgb( 0 0 0 / .90);
}

.bg-main-sidebar {
	background-color: rgba(1, 43, 93, 0.9);
}

.mostrar {
	@apply block absolute top-0 left-0 right-0 w-full h-full bg-sidebar
}

.mostrar-main-menu {
	@apply block absolute top-0 left-0 right-0 w-full h-full bg-main-sidebar overflow-hidden
}



.ocultar {
	opacity: 0;
}


/* TAREAS */

.tarea {
	@apply flex justify-between items-center bg-gray-500 py-5 px-4 md:px-8 rounded mb-3
}

.nombre-tarea {
	@apply text-lg text-white cursor-pointer
}

.estado-tarea {
	@apply rounded py-1 px-3 flex items-center justify-center text-white uppercase font-semibold
}

.eliminar-tarea {
	@apply rounded bg-red-700 py-1 px-3  flex items-center justify-center text-white uppercase font-semibold
}

.pendiente {
	@apply bg-amber-500
}

.completa {
	@apply bg-blue-700
}

.opciones {
	@apply flex gap-2 text-xs h-6
}

/* GO TOP BUTTON */

.go-top-container {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 56px;
    height: 56px;
    z-index: -1;
}

.go-top-button {
    @apply bg-amber-400 hover:bg-amber-500;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: -1;
}

.go-top-button svg {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 56px;
    height: 56px;
    z-index: 11;
}

.show svg {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0px;
        height: 0px;
    }
    50% {
        width: 80px;
        height: 80px;
    }
    100% {
        width: 56px;
        height: 56px;
    }
}


/* FOOTER */

.footer {
    border-top: 1px solid rgb(148, 148, 148);
}

.bg-footer {
    background-color: rgb(237, 237, 237);
}
